<div class="card" data-id="{{post.id}}">
    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "400x200" crop="center" as im %}
        <img class="card__image" src="{{ im.url }}" />
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' post.author.username post.id %}" target="_blank">{{post.title}}</a>
        <ul class="card__items">
            {% for tag in post.tags.all %}
                {% if tag.name == "Завтрак" %}
                    <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                {% elif tag.name == "Обед" %}
                    <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                {% elif tag.name == "Ужин" %}
                    <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{post.cooking_time}} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' post.author.username %}" style="color: black">{{ post.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="button button_style_light-blue{% if post.id in shop_list_recipes %}-outline{% endif %}" name="purchases" {% if not post.id in shop_list_recipes %}data-out{% endif %}>
                    <span class="icon-{% if not post.id in shop_list_recipes %}plus{% else %}check{% endif %} button__icon"></span>{% if not post.id in shop_list_recipes %}Добавить в покупки{% else %}Рецепт добавлен{% endif %}
                </button>
                <button name="favorites" class="button button_style_none" {% if not post.id in recipes %}data-out{% endif %}{% if post.id in recipes %} class="icon-favorite icon-favorite_active" {% else %} class="icon-favorite" {% endif %}>
                    <span class="icon-favorite {% if post.id in recipes %}icon-favorite_active{% endif %}"></span>
                </button>
            </form>
        {% endif %}
    </div>
</div>