{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}

{% block main__header %}
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>
{% endblock %}

{% block content %}
    {% load user_filters %}
    {% if next %}            
        <div class="alert alert-info" role="alert">
            Вы обратились к странице, доступ к которой возможен только для залогиненных пользователей.<br>
            Пожалуйста, авторизуйтесь.
        </div>
    {% endif %}

    <div class="form-container">
        <form method="post" action="{% url 'login' %}" class="form">
            {% csrf_token %}

            <div class="form__group">
                <label for="id_username" class="form__label">Имя</label>
                <div class="form__field-group">
                    {{ form.username|addclass:"form__input" }}
                    <span class="form__error">{{form.errors}}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Пароль</label>
                <div class="form__field-group">
                    {{ form.password|addclass:"form__input" }}
                    <span class="form__error">{{form.errors}}</span>
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Войти</button>
                  <a href="{% url 'password_reset' %}" class="form__forgot-link">
                    Забыли пароль?
                  </a>
            </div>
        </form>
    </div>
{% endblock %}