{% extends "base.html" %}
{% block title %}Пароль сброшен{% endblock %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block main__header %}
{% endblock %}

{% block content %}
    <div class="custom-center-block">
            <p class="custom-text-block">Ваш пароль успешно сброшен.</p>
        <div class="custom-button-block">
            <li class="nav__item"><a href="{% url 'login' %}" class="button button_style_blue">Войти в аккаунт</a></li>
        </div>
    </div>
{% endblock %}